streamlit
mysql-connector-python
numpy
matplotlib
seaborn
pandas
python-dateutil>=2.8.2
scikit-learn
imblearn
langchain
pydantic==1.10.13 # Specific version for compatibility with LangChain versions
faiss-cpu # Or faiss-gpu if you have a compatible GPU and CUDA setup
transformers
sentence-transformers
tensorflow==2.15.0
keras==2.15.0
scipy>=1.10,<1.12
requests>=2.31,<3.0
firebase-admin>=6.4,<7.0
joblib>=1.3,<1.4
tqdm>=4.66,<5.0

# For LangChain integration with specific LLMs and components:
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface
python-dotenv
